*{
    margin: 0;
    padding: 0;
    color: white;
}
body {
    
    background: #616161;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 100vh;
    overflow-x: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-image: url(https://preview.pixlr.com/images/800wm/1190/2/1190210521.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}


.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 7vh;
    background: #373737;
    color: white;
}

.me section {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

nav {
    position: absolute;
    top: 2%;
    right: 1%;
}

nav li {
    list-style: none;
}

.menu {
    position: absolute;
    top: 0;
    right: 2.6%;
}

.projectsList{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.projectsList > h1{
    align-self: center;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    background: #8e8e8e;
    align-items: center;
    color: black;
}

.projects h1{
    font-size: 2rem;
    color: black;
}

.projects h1:hover {
    cursor: pointer;
}

.projects figure{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects figure:hover {
    cursor: pointer;
}

.projects figure figcaption{
    color: black;
}

.projects figure img{
    max-width: 300px;
    max-height: 300px;
}

.project-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.projects button {
    color: black;
    background-color: #616161;
    padding: 1%;
}

.projects button:hover {
    cursor: pointer;
}

.resume {
    display: flex;
    flex-direction: column;
}

.skills {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(18, 5.5%);
    align-items: center;
    height: 1vh;
    margin: 1%;
}

.skill {
    display: flex;
    justify-content: space-around;
}

.resume-section {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    background: #8e8e8e;
    color: black;
}

.resume-section-header {
    width: 95vw;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5%;
}

.work-loc {
    display: flex;
    width: 60%;
}

.resume-section-header h2{
    margin-left: .5%;
    margin-right: 1.5%;
    color: black;
}

.resume-section-description{
    margin-left: .5%;
    margin-right: 1%;
    color: black;
}

.bullet {
    color: black;
    margin-left: 1.5%;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
    margin: 1%;
}

.project button {
    color: black;
    background-color: #616161;
    padding: 1%;
}

.project button:hover {
    cursor: pointer;
}

.project img {
    max-width: 500px;
    max-height: 500px;
    margin: 1%;
}