*{
    margin: 0;
    padding: 0;
    color: #CCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    
    background: #191a1d;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.me {
    width:100vw;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.name {
    margin-top: 1vh;
    margin-left: 2vw;
}

.underline{
    width: 7vw;
    height: 1vh;
    background: fuchsia;
    opacity: 88%;
}

.current-location {
    border-bottom: 2px solid fuchsia;
}

.resume-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download {
    /* width: 100px; */
    margin-right: 1.5vw;
    align-self: flex-start;
    /* margin-top: -1vh; */
}

.name h2 {
    font-weight: normal;
}

.me nav {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-right: 1vw;
}

.about {
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: flex-start;
}

.about section {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    width: 45vw;
    justify-content: center;
    align-items: flex-start;
    font-size: 3.5rem;
}

.about section h1 {
    width: 100%;
    color: #CCC;
    text-align: left;
}

.about section h1 span {
    color: fuchsia;
}

.about section p {
    text-align: left;
    font-size: 2.8rem;
    color: #B2A9A9;
}

.triangle {
    width: 0;
    height: 0;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 50vw solid fuchsia;
    border-left: 50vw solid transparent;
    border-top: 40vw solid transparent;
    opacity: 88%;
}

.projectsList {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.projects {
    display: grid;
    width: 100vw;
    margin: 2vh 0;
    grid-template-columns: 10% 30% 50% 10%;
}

.project-triangle {
    width: 0;
    height: 0;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    border-left: 120px solid fuchsia;
    text-align: left;
}

.number {
    transform: translate(-3vw, -2vh);
}

.img {
    width: 320px;
    height: 180px;
    margin-top: 4vh;
}

.img img{
    width: 100%;
    height: 100%;
}

.about-project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects button {
    width: 100px;
    border-radius: 40px;
    height: 20%;
    align-self: center;
    border: 2px solid fuchsia;
    color: #B2A9A9;
    background-color: transparent;
}

.projects button:hover {
    cursor: pointer;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.resume h1 {
    margin-left: 3vw;
    font-size: 4rem;
    font-weight: lighter;
}

.skills {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(9, 10%);
    align-items: center;
    margin: 1%;
}

.skill {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin: 2vh 0;
    font-weight: normal;
}

.skill h4 {
    font-weight: normal;
}

.skill span {
    color: fuchsia;
}

.resume-sections {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 2vh 0;
    align-items: center;
}

.education {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.education > h1 {
    align-self: flex-start;
}

.school {
    display: flex;
    /* flex-direction: column; */
    width: 100vw;
    justify-content: space-between;
    margin: 2vh 0;
}

.school h1 {
    font-size: 3rem;
}

.education-header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.school-about .bullet {
    font-size: 1rem;
    margin-left: 5vw;
}

.divider {
    width: 100vw;
    height: 0.5vh;
    background-color: fuchsia;
    margin: 2vh 0;
}

.resume-section {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-around;
    
}

.resume-section-header {
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* justify-content: space-between; */
}

.work-loc {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.work-loc h2:nth-of-type(2) {
    /* align-self: flex-end; */
    justify-self: flex-end;
}

.resume-section-description {
    display: flex;
    flex-direction: column;
}

.resume-project-header {
    display: flex;
}

.resume-project-tech {
    display: flex;
}

.resume-project-tech span {
    color: fuchsia;
}


.bullet {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.bullet::before {
    content: "\2022";
    color: fuchsia !important;
    font-size: 3rem;
    margin-top: -1vh;
}

.flip {
    transform: rotate(180deg);
}

.contact {
    width: 100vw;
    height: 90vh;
    display: flex;
    font-size: 2rem;
}

.contact-me {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    justify-content: center;
}

.contact-me form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input {
    border-radius: 20px;
    height: 3vh;
    background: #2A2B30;
    outline: none;
}

.message {
    height: 30vh;
    text-align: start;
    background: #2A2B30;
}

button {
    background: transparent;
    color: #B2A9A9;
    border-radius: 40px;
    padding: 1vh;
    border: 2px solid fuchsia;
}

form button {
    margin-top: 2vh;
    width: 50%;
    align-self: center;
}